.addButton{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;
  /*position: absolute;*/
  width: 48px;
  height: 48px;
  /*left: 224px;*/
  /*top: 20px;*/
  border-radius: 8px;
}

