@import "../style/variables";

.addButton {
  width: 48px;
  height: 48px;

  button {
    padding: 14px;
    border-radius: 8px;
  }
}

.button {
  text-align: center;

  .button-glow {
    width: 100%;
    padding: 14px;
    background: $theme;
    border-radius: 8px;
    cursor: pointer;
    color: $appWhite;
    box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
  }

  .button-dim {
    width: 100%;
    padding: 14px;
    background: inherit;
    border-radius: 8px;
    color: $theme;
    box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
    opacity: .4;
    cursor: pointer;
  }

}

@media screen and (max-width: 800px) {

  .button {

    .button-glow {
      padding: 6px;
    }

    .button-dim {
      padding: 6px;
    }

  }

}
