@import "variables";

.dish {
  padding: 10px;
  cursor: pointer;

  .adminDesign {
    width: fit-content;
    z-index: 1;
    position: relative;
    background: $body-bg1;
    border-radius: 10px;
    padding-top: 10px;
    line-height: 3;
  }

  .userDesign {
    margin-bottom: 40px;
    position: relative;
    width: 16vw;
    height: 220px;
    z-index: 1;
    line-height: 3;

    p{
      font-size: 13px;
      font-weight: 700;
      color: #EA7C69;
      margin-top: -17%;
      position: static;
    }
  }

  img {
    width: 60%;
    height: 60%;
  }

  .container {
    z-index: -1;
    position: relative;
    margin-top: -55%;
    background: $body-bg1;
    padding: 52% 10% 10% 5%;
    border-radius: 10px;

    h3 {
      font-weight: 500;
      color: $appWhite;
      width: 100%;
      font-size: 100%;
      line-height: 1;

    }

    h4 {
      color: $appWhite;
      font-size: 90%;
      font-weight: 400;
    }

    h5 {
      color: $offWhite;
      font-size: 80%;
      font-weight: 400;
    }
  }

  .editDish {
    width: auto;
    background: #503532;
    padding: 10px;
    margin-top: -10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    button {
      background: inherit;
      color: $appWhite;
      opacity: .7;
    }
  }

  .hidden {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .dish {
    .adminDesign {
    }
    .userDesign {
      margin-bottom: 0;
      width: 100%;
      line-height: 2.5;
      position: relative;
      z-index: 1;
    }

    img {
      width: 60%;
      height: 60%;
    }

    .container {
      border-radius: 5px;
      h3 {
        font-size: 80%;

      }
      h4 {
        font-size: 70%;
      }

      h5 {
        font-size: 70%;
      }
    }

    .editDish {
      width: auto;
      background: #503532;
      padding: 10px;
      margin-top: -10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      button {
        background: inherit;
        color: $appWhite;
        opacity: .7;
      }
    }

    .hidden {
      display: none;
    }
  }
}

