@import "../style/variables";

.dineIn{
  select{
    width: 145px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 8px;
    background: $body-bg1;
    padding: 10px;
    border-style: none;
    color: $appWhite;
    font-size: 14px;
    text-align: center;

    option{
      width: auto;
    }
  }
}
