.dineIn{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  position: relative;
  width: 120px;
  height: 48px;
  background: #1F1D2B;
  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;
}
