@import "../style/variables";

.cartItems{
  width: 100%;
  height: fit-content;
  padding-bottom: 20px ;
  margin: 10px 0 0 10px ;
  background: inherit;
  color: $appWhite;

  .flex-row{
    width: 90%;
    display: flex;
    img{
      margin-top: 5%;
      padding-left: 5px;
      width: 14%;
      height: 14%;
    }
    .flex-sum-row{
      .space-between{
        display: flex;
      }
      h5{
        padding: 12px;
        background: $body-bg2;
        color: $appWhite;
        margin-top: 30%;
        min-width: 25px;
        max-width: 25px;
        border-radius: 8px;
      }
     p{
       margin-top: 45%;
       font-size: 12px;
       margin-left: 15px;
       margin-right: -10px;
       min-width: 20px;
       max-width: 20px;
     }
    }
  }
  .flex-detail-column{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 4%;
    width: 100%;
    p{
      font-size: 13px;
      text-align: left;
      width: 90%;
      padding-bottom: 10px;
    }
    h1{
      font-size: 12px;
      text-align: left;
      margin-top: -6px;
      color: gray;
    }
  }
  .flex-row-form{
    padding-top: 15px;
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    input{
      background: #2D303E;
      border-style: none;
      height: 28px;
      margin: 0 10px 0 0 ;
      color: $appWhite;
      width: 88%;
      padding: 6px 6px 6px 15px;
      border-radius: 8px;
      outline: $theme;
    }
    img{
      cursor: pointer;
      margin-right: 5%;
      width: 28px;
      height: 34px;
    }
  }
}


@media screen and (max-width: 800px) {
  .cartItems{
    width: 100px;
    height: fit-content;
    margin: 0 ;

    .flex-row{
      img{
        margin-top: 5%;
        margin-left: 20%;
        width: 44%;
        height: 44%;
      }
      .flex-sum-row{
        width: 100%;
        .space-between{
        }
        h5{
          padding: 7px;
          background: $body-bg2;
          min-width: 15px;
          max-width: 15px;
          border-radius: 8px;
          font-size: 10px;
        }
        p{
          margin-top: 5%;
          margin-left: 4px;
          min-width: 10px;
          max-width: 10px;
          font-size: 10px;

        }
      }
    }
    .flex-detail-column{
      padding-left: 5px;
      margin-top: 5px;
      p{
        font-size: 11px;
        width: 50%;
        text-align: left;
        padding-bottom: 10px;
      }
      h1{
        font-size: 10px;
        margin-top: -6px;
        color: gray;
        margin-left: 0;
      }
    }
    .flex-row-form{
      padding-left: 4px;
      display: flex;
      flex-direction: column;
      margin-right: 30%;
      input{
        background: #2D303E;
        border-style: none;
        height: 28px;
        width: 100px;
        font-size: 11px;
        margin: 0 20px 10px 0 ;
        padding: 3px 3px 3px 15px;
        border-radius: 7px;
      }
      img{
        margin-left: 40%;
        width: 20px;
        height: 25px;
      }
    }
  }
}