.cartItems{
  position: relative;
  width: fit-content;
  height: fit-content;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 10px;
  //background: inherit;
  background: #1F1D2B;
  color: #e7e7e7;

  .flex-row{
    display: flex;
    img{
      width: 30%;
    }
    .flex-sum-row{

      .space-between{
        display: flex;
        float: right;
        margin-right: 10%;
      }
      h5{
        padding: 15px;
        background: #2D303E;
        color: #eaeaea;
        margin-top: 40%;
        border-radius: 8px;
      }
     p{
       margin-top: 45%;
       font-size: 20px;
       margin-left: 20px;
     }
    }
  }
  .flex-detail-column{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 10px;
    max-width: fit-content;
    p{
      font-size: 13px;
      text-align: left;
      min-width: fit-content;
      margin-right: 10%;
    }
    h1{
      font-size: 13px;
      text-align: left;
      margin-top: -6px;
      color: gray;
      min-width: fit-content;
      margin-right: 10%;
    }
  }
  .flex-row-form{
    display: flex;
    position: relative;
    top: -30px;
    left: 34%;

    input{
      background: #2D303E;
      border-style: none;
      height: 25px;
      width: 210px;
      margin-right: 10px;
      color: white;
      padding: 8px;
      border-radius: 8px;
      outline: #EA7C69;
    }
    img{
      cursor: pointer;
      width: 35px;
      height: 38px;
    }
  }
}