@import "../style/variables";

.cartItems{
  width: 390px;
  height: 160px;
  margin: 10px 0px 0px 30px ;
  background: inherit;
  color: $appWhite;

  .flex-row{
    display: flex;
    img{
      margin-top: 5%;
      width: 14%;
      height: 14%;
    }
    .flex-sum-row{

      .space-between{
        display: flex;
        margin-left: 30px;
      }
      h5{
        padding: 15px;
        background: $body-bg2;
        color: $appWhite;
        margin-top: 30%;
        border-radius: 8px;
      }
     p{
       margin-top: 45%;
       font-size: 13px;
       margin-left: 10px;
     }
    }
  }
  .flex-detail-column{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 10px;
    max-width: fit-content;
    p{
      font-size: 13px;
      text-align: left;
      min-width: fit-content;
      padding-bottom: 10px;
      margin-right: 10%;
    }
    h1{
      font-size: 13px;
      text-align: left;
      margin-top: -6px;
      color: gray;
      min-width: fit-content;
      margin-right: 10%;
    }
  }
  .flex-row-form{
    padding-left: 10px;
    display: flex;

    input{
      background: #2D303E;
      border-style: none;
      height: 25px;
      width: 302px;
      margin: 0px 10px 0 0 ;
      color: $appWhite;
      padding: 6px 6px 6px 15px;
      border-radius: 8px;
      outline: $theme;
    }
    img{
      cursor: pointer;
      width: 30px;
      height: 35px;
    }
  }
}