@import "variables";

.tabs {
  min-width: max-content;
  .activeStyle {
    padding: 6px;
    background: $theme;
    border-radius: 5px;
    color: $appWhite;
    font-weight: 600;
  }
  .normalStyle{
    padding: 6px;
    background: $body-bg2;
    border-radius: 5px;
    color: $theme;
    font-weight: 600;
  }
}

@media screen and (max-width: 800px) {
  .tabs {
    .activeStyle {
      padding: 2px;
      border-radius: 2px;
      font-size: 10px;
      width:40px;
    }
    .normalStyle{
      padding: 2px;
      background: $body-bg1;
      border-radius: 2px;
      width:50px;
      font-size: 10px;
    }
  }
}